<div class="mu-logo-container">
  <%= link_to image_tag("monsters-university-logo.png", :class => "mu-nav-logo"), root_path%>

</div>
<div class="log-in-container">
  <div class=" sign-up-form">
    <div class="col s12 m12 l12">
      <div class="log-in-card">
        <h3 class="log-in-title">Log in</h3>
        <div class="row">
          <%= form_for(:logins, html: {class: "col s12"}) do |f| %>


              <div class="field">
                <%= f.label :email, class: "label" %>
                <div class="control">
                  <%= f.email_field :email, class:"input", placeholder: "Enter your email address", autofocus: true %>
                </div>

              </div>



              <div class="field">
                <%= f.label :password, class: "label" %>
                <%= f.password_field :password, class:"input", placeholder: "Enter your password" %>

              </div>


            <div class="log-in-button-container">

              <%= f.button("Log in", class: "button is-info") %>

                <% if !logged_in? %>
                  <%#= f.button(students_new_path "Login", class: "btn orange waves-effect waves-light right") %>
                  <%= link_to "Sign up", students_new_path, :class => "button is-primary" %>

                <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">

    </div>
  </div>

</div>
